.login-form{
    display:flex;
    justify-content: center;
    align-items: center;
   
}
.card{
    background-color:rgb(149, 228, 228);
}
.btnStyle{
    background-color: rgb(143, 188, 240);
    border-radius: 5px;
    color: black;
    font-weight: 400;
}
.createStyle{
    color: rgb(92, 47, 163);
    font-weight: bold;
    color: black;
}
.submitStyle{
    background-color:rgb(98, 0, 255);
    border-radius: 3px;
    color: white;
}
.title{
    font-size: 22px;
}
.convert{
    font-size: 13px;
}
.formStyle{
  
    margin-right: 10%;
 }
 .btnStyle{
     width: 50%;
     font-weight: 300;
   
 }
 .btn12{
     margin: 0px;
 }
 .btnStyle1{
     width: 75%;
 }